 
.list ul{
    display: flex;
    background: #3e5cca;
    /* height: 77px; */
}
.list ul li {
    margin-left: 32px;
    margin-right: 32px;
    font-size: 62,5%;
    align-items: center;
    padding: 30px 0 30px 0px;
    color: #fdfbfb;
}


.list ul .item {
     margin-left: 63px;
     padding-left: 30px;
     padding-right: 30px ;
     background-color: #fafafc;
     color: black;
}
